* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
    background-color: #191414;
    color: #A3333D;
    font-family: 'Libre Baskerville', sans-serif;
}


#fotoPerfil {
    border-radius: 5%;
    position: absolute;
    
}

.indice h4 {
    font-size: 1em;
    padding-bottom: 0px;
}

.indice ol {
    padding: 0px 0px 0px 1em;
    font-size: 1em;
}

#Links {
    font-size: 1em;
}

.linksUteis ul {
    padding: 0px 0px 0px 1em;
    font-size: 1em;
}

#statusAtual {
    padding-left: 150px;
    padding-top: 0px;
    padding-bottom: 25px;
    
}

#statusAtual p {
    line-height: 50px;
}

a {
    color: #176087;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    text-decoration: none;
}

a:visited {
    color: #1a5952;
}

a:hover, a:focus {
    color: #89CE94;
    text-decoration: underline;
}

.skills {
    width: fit-content;
    background-color: #89ce94;
    padding: 1px 10px;
    border-radius: 5%;
}


  