body {
    background-color: #202124;
    color: #aaa;
    font-family: 'Libre Baskerville', sans-serif;
}

strong {
    color: #fff;
}

#fotoPerfil {
    border-radius: 5%;
    position: absolute;
    
}

.indice h4 {
    color: #fff;
    font-size: 1em;
    padding-bottom: 0px;
}

.indice ol {
    padding: 0px 0px 0px 1em;
    font-size: 1em;
}

#Links {
    color: #fff;
    font-size: 1em;
}

.linksUteis ul {
    padding: 0px 0px 0px 1em;
    font-size: 1em;
}

#statusAtual {
    padding-left: 150px;
    padding-top: 0px;
    padding-bottom: 25px;
    
}

#statusAtual p {
    line-height: 50px;
}

a {
    color: #aaa;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    text-decoration: none;
}

a:hover, a:focus {
    color: #fff;
    text-decoration: underline;
}



  