* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
    padding: 0;
    margin: 0;
  }

body {
    color: #325050;
    background: #fff;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 70%;
}

a {
    color: #0d8ba1;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    text-decoration: none;
}

a:visited {
    color: #1a5952;
}

a:hover, a:focus {
    color: #0599c2;
    text-decoration: underline;
}

